In [1]:
import pandas as pd 
import numpy as np

In [3]:
#import adult data from desktop directory 
data = pd.read_csv('C:/Users/Admin/Desktop/Data Minning/adult.csv')

In [4]:
null_values= data.isnull().sum()
print(null_values)

age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
income              0
dtype: int64

In [5]:
na_values= data.isna().sum()
print(na_values)

age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
income              0
dtype: int64

In [6]:
#change display setting to show all columns
pd.set_option('display.max_columns', None)
print(data.head(100))

    age         workclass  fnlwgt     education  education-num  \
0    39         State-gov   77516     Bachelors             13
1    50  Self-emp-not-inc   83311     Bachelors             13
2    38           Private  215646       HS-grad              9
3    53           Private  234721          11th              7
4    28           Private  338409     Bachelors             13
..  ...               ...     ...           ...            ...
95   29         Local-gov  115585  Some-college             10
96   48  Self-emp-not-inc  191277     Doctorate             16
97   37           Private  202683  Some-college             10
98   48           Private  171095    Assoc-acdm             12
99   32       Federal-gov  249409       HS-grad              9

        marital-status         occupation   relationship   race     sex  \
0        Never-married       Adm-clerical  Not-in-family  White    Male
1   Married-civ-spouse    Exec-managerial        Husband  White    Male
2             Divorced  Handlers-cleaners  Not-in-family  White    Male
3   Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4   Married-civ-spouse     Prof-specialty           Wife  Black  Female
..                 ...                ...            ...    ...     ...
95       Never-married  Handlers-cleaners  Not-in-family  White    Male
96  Married-civ-spouse     Prof-specialty        Husband  White    Male
97  Married-civ-spouse              Sales        Husband  White    Male
98            Divorced    Exec-managerial      Unmarried  White  Female
99       Never-married      Other-service      Own-child  Black    Male

    capital-gain  capital-loss  hours-per-week native-country income
0           2174             0              40  United-States  <=50K
1              0             0              13  United-States  <=50K
2              0             0              40  United-States  <=50K
3              0             0              40  United-States  <=50K
4              0             0              40           Cuba  <=50K
..           ...           ...             ...            ...    ...
95             0             0              50  United-States  <=50K
96             0          1902              60  United-States   >50K
97             0             0              48  United-States   >50K
98             0             0              40        England  <=50K
99             0             0              40  United-States  <=50K

[100 rows x 15 columns]

In [7]:
# Define a function to find columns with wrong data
def find_wrong_data_columns(dataframe):
    wrong_data_columns = []
    for column in dataframe.columns:
        # Check if the column data type is object, which may indicate mixed types
        if dataframe[column].dtype == 'object':
            try:
                # Try to convert the column to a numeric type
                pd.to_numeric(dataframe[column])
            except ValueError:
                # If conversion fails, it means there is wrong data in the column
                wrong_data_columns.append(column)
    return wrong_data_columns

# Call the function and print the columns with wrong data
columns_with_wrong_data = find_wrong_data_columns(data)
print(f"Columns with wrong data: {columns_with_wrong_data}")

Columns with wrong data: ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'income']

In [8]:
# Define a function to determine the type of columns with Null values
def determine_column_types(dataframe):
    column_types = {}
    for column in dataframe.columns:
        # Check for Null values in the column
        if dataframe[column].isnull().any():
            # Determine the data type of the column
            if pd.api.types.is_numeric_dtype(dataframe[column]):
                column_types[column] = 'Numerical'
            elif pd.api.types.is_string_dtype(dataframe[column]):
                column_types[column] = 'Nominal'
            elif pd.api.types.is_categorical_dtype(dataframe[column]):
                column_types[column] = 'Ordinal'
            else:
                column_types[column] = 'Unknown'
    return column_types

In [9]:
# Call the function and store the column types with Null values
column_types_with_nulls = determine_column_types(data)

In [10]:
# Print the columns with their corresponding data types
print("Columns and their data types with Null values:")
for column, data_type in column_types_with_nulls.items():
    print(f"{column}: {data_type}")

Columns and their data types with Null values:
workclass: Nominal
occupation: Nominal
native-country: Nominal

In [11]:
# Delete all rows with Null values
data_cleaned = data.dropna()

In [12]:
# Print the number of Null values in all columns
null_values_count = data_cleaned.isna().sum()
print(null_values_count)

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [13]:
# Define a function to fill Null values with the mode for categorical columns
def fill_null_with_mode(dataframe):
    for column in dataframe.columns:
        # Check if the column is categorical and contains Null values
        if dataframe[column].isnull().any() and dataframe[column].dtype == 'object':
            # Find the mode of the column
            mode_value = dataframe[column].mode()[0]
            # Fill Null values with the mode
            dataframe[column].fillna(mode_value, inplace=True)
    return dataframe

In [16]:
# Call the function to fill Null values with the mode for categorical columns
data_filled = fill_null_with_mode(data)

In [17]:
# Print the number of Null values in all columns to verify
null_values_count = data_filled.isna().sum()
print(null_values_count)

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [18]:
from scipy import stats
def fill_null_with_mode(df):
    # Iterate over each column in the DataFrame
    for column in df.columns:
        # Check if the column is categorical and has null values
        if df[column].dtype == 'object' and df[column].isnull().sum() > 0:
            # Find the mode of the column
            mode_value = df[column].mode()[0]
            # Fill null values with the mode
            df[column].fillna(mode_value, inplace=True)
    return df

In [19]:
# Fill null values with mode
data = fill_null_with_mode(data)

In [20]:
# Print the result
print(data)

       age         workclass  fnlwgt  education  education-num  \
0       39         State-gov   77516  Bachelors             13
1       50  Self-emp-not-inc   83311  Bachelors             13
2       38           Private  215646    HS-grad              9
3       53           Private  234721       11th              7
4       28           Private  338409  Bachelors             13
...    ...               ...     ...        ...            ...
48837   39           Private  215419  Bachelors             13
48838   64           Private  321403    HS-grad              9
48839   38           Private  374983  Bachelors             13
48840   44           Private   83891  Bachelors             13
48841   35      Self-emp-inc  182148  Bachelors             13

           marital-status         occupation    relationship  \
0           Never-married       Adm-clerical   Not-in-family
1      Married-civ-spouse    Exec-managerial         Husband
2                Divorced  Handlers-cleaners   Not-in-family
3      Married-civ-spouse  Handlers-cleaners         Husband
4      Married-civ-spouse     Prof-specialty            Wife
...                   ...                ...             ...
48837            Divorced     Prof-specialty   Not-in-family
48838             Widowed     Prof-specialty  Other-relative
48839  Married-civ-spouse     Prof-specialty         Husband
48840            Divorced       Adm-clerical       Own-child
48841  Married-civ-spouse    Exec-managerial         Husband

                     race     sex  capital-gain  capital-loss  hours-per-week  \
0                   White    Male          2174             0              40
1                   White    Male             0             0              13
2                   White    Male             0             0              40
3                   Black    Male             0             0              40
4                   Black  Female             0             0              40
...                   ...     ...           ...           ...             ...
48837               White  Female             0             0              36
48838               Black    Male             0             0              40
48839               White    Male             0             0              50
48840  Asian-Pac-Islander    Male          5455             0              40
48841               White    Male             0             0              60

      native-country  income
0      United-States   <=50K
1      United-States   <=50K
2      United-States   <=50K
3      United-States   <=50K
4               Cuba   <=50K
...              ...     ...
48837  United-States  <=50K.
48838  United-States  <=50K.
48839  United-States  <=50K.
48840  United-States  <=50K.
48841  United-States   >50K.

[48842 rows x 15 columns]

In [21]:
# Function to fill null values with mode for categorical columns
def fill_null_with_mode(df):
    for column in df.select_dtypes(include=['object']).columns:
        if df[column].isnull().sum() > 0:
            mode_value = df[column].mode()[0]
            df[column].fillna(mode_value, inplace=True)
    return df

In [22]:
# Fill null values with mode
data_filled = fill_null_with_mode(data)

In [23]:
# Print the result
print(data_filled)

       age         workclass  fnlwgt  education  education-num  \
0       39         State-gov   77516  Bachelors             13
1       50  Self-emp-not-inc   83311  Bachelors             13
2       38           Private  215646    HS-grad              9
3       53           Private  234721       11th              7
4       28           Private  338409  Bachelors             13
...    ...               ...     ...        ...            ...
48837   39           Private  215419  Bachelors             13
48838   64           Private  321403    HS-grad              9
48839   38           Private  374983  Bachelors             13
48840   44           Private   83891  Bachelors             13
48841   35      Self-emp-inc  182148  Bachelors             13

           marital-status         occupation    relationship  \
0           Never-married       Adm-clerical   Not-in-family
1      Married-civ-spouse    Exec-managerial         Husband
2                Divorced  Handlers-cleaners   Not-in-family
3      Married-civ-spouse  Handlers-cleaners         Husband
4      Married-civ-spouse     Prof-specialty            Wife
...                   ...                ...             ...
48837            Divorced     Prof-specialty   Not-in-family
48838             Widowed     Prof-specialty  Other-relative
48839  Married-civ-spouse     Prof-specialty         Husband
48840            Divorced       Adm-clerical       Own-child
48841  Married-civ-spouse    Exec-managerial         Husband

                     race     sex  capital-gain  capital-loss  hours-per-week  \
0                   White    Male          2174             0              40
1                   White    Male             0             0              13
2                   White    Male             0             0              40
3                   Black    Male             0             0              40
4                   Black  Female             0             0              40
...                   ...     ...           ...           ...             ...
48837               White  Female             0             0              36
48838               Black    Male             0             0              40
48839               White    Male             0             0              50
48840  Asian-Pac-Islander    Male          5455             0              40
48841               White    Male             0             0              60

      native-country  income
0      United-States   <=50K
1      United-States   <=50K
2      United-States   <=50K
3      United-States   <=50K
4               Cuba   <=50K
...              ...     ...
48837  United-States  <=50K.
48838  United-States  <=50K.
48839  United-States  <=50K.
48840  United-States  <=50K.
48841  United-States   >50K.

[48842 rows x 15 columns]

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
# Initialize the LabelEncoder
label_encoder = LabelEncoder()

In [26]:
# Encode the 'income' column
data['income_encoded'] = label_encoder.fit_transform(data['income'])

In [27]:
#Print the first few rows of the DataFrame to verify the encoding
print(data.head())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country income  \
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

   income_encoded
0               0
1               0
2               0
3               0
4               0

In [28]:
def determine_column_types(df):
    for column in df.columns:
        # Check if the column is numerical
        if np.issubdtype(df[column].dtype, np.number):
            print(f"Column '{column}' is numerical.")
        # Check if the column is categorical
        elif pd.api.types.is_categorical_dtype(df[column]):
            print(f"Column '{column}' is categorical.")
        # Check if the column is datetime
        elif pd.api.types.is_datetime64_any_dtype(df[column]):
            print(f"Column '{column}' is a date/time.")
        else:
            print(f"Column '{column}' is of type {df[column].dtype}, further inspection needed.")

In [29]:
determine_column_types(data)

Column 'age' is numerical.
Column 'workclass' is of type object, further inspection needed.
Column 'fnlwgt' is numerical.
Column 'education' is of type object, further inspection needed.
Column 'education-num' is numerical.
Column 'marital-status' is of type object, further inspection needed.
Column 'occupation' is of type object, further inspection needed.
Column 'relationship' is of type object, further inspection needed.
Column 'race' is of type object, further inspection needed.
Column 'sex' is of type object, further inspection needed.
Column 'capital-gain' is numerical.
Column 'capital-loss' is numerical.
Column 'hours-per-week' is numerical.
Column 'native-country' is of type object, further inspection needed.
Column 'income' is of type object, further inspection needed.
Column 'income_encoded' is numerical.

In [30]:
# Define the ordinal mapping for a hypothetical column 'education_level'
education = {
    'Bachelors': 0,
    'HS-grad': 1,
    '11th': 2,
    'some-college': 3,
    'Doctorate': 4,
    'Assoc-acdm': 5
}

In [31]:
# Assume 'education' is the ordinal column you want to encode
# Apply the mapping to the 'education' column
data['education_level_encoded'] = data['education'].map(education)

In [32]:
# Display the first few rows of the DataFrame to verify the encoding
print(data.head())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country income  \
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

   income_encoded  education_level_encoded
0               0                      0.0
1               0                      0.0
2               0                      1.0
3               0                      2.0
4               0                      0.0

In [33]:
# Assume 'occupation' is the nominal column you want to encode
# Use get_dummies to perform one-hot encoding

encoded_data = pd.get_dummies(data, columns=['occupation'])

In [34]:
# Display the first few rows of the DataFrame to verify the encoding
print(encoded_data.head())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status   relationship   race     sex  capital-gain  \
0       Never-married  Not-in-family  White    Male          2174
1  Married-civ-spouse        Husband  White    Male             0
2            Divorced  Not-in-family  White    Male             0
3  Married-civ-spouse        Husband  Black    Male             0
4  Married-civ-spouse           Wife  Black  Female             0

   capital-loss  hours-per-week native-country income  income_encoded  \
0             0              40  United-States  <=50K               0
1             0              13  United-States  <=50K               0
2             0              40  United-States  <=50K               0
3             0              40  United-States  <=50K               0
4             0              40           Cuba  <=50K               0

   education_level_encoded  occupation_?  occupation_Adm-clerical  \
0                      0.0             0                        1
1                      0.0             0                        0
2                      1.0             0                        0
3                      2.0             0                        0
4                      0.0             0                        0

   occupation_Armed-Forces  occupation_Craft-repair  \
0                        0                        0
1                        0                        0
2                        0                        0
3                        0                        0
4                        0                        0

   occupation_Exec-managerial  occupation_Farming-fishing  \
0                           0                           0
1                           1                           0
2                           0                           0
3                           0                           0
4                           0                           0

   occupation_Handlers-cleaners  occupation_Machine-op-inspct  \
0                             0                             0
1                             0                             0
2                             1                             0
3                             1                             0
4                             0                             0

   occupation_Other-service  occupation_Priv-house-serv  \
0                         0                           0
1                         0                           0
2                         0                           0
3                         0                           0
4                         0                           0

   occupation_Prof-specialty  occupation_Protective-serv  occupation_Sales  \
0                          0                           0                 0
1                          0                           0                 0
2                          0                           0                 0
3                          0                           0                 0
4                          1                           0                 0

   occupation_Tech-support  occupation_Transport-moving
0                        0                            0
1                        0                            0
2                        0                            0
3                        0                            0
4                        0                            0

In [35]:
from sklearn.preprocessing import MinMaxScaler

In [36]:
# Initialize the MinMaxScaler
scaler = MinMaxScaler()

In [37]:
# Select the numerical columns in the dataset
numerical_columns = data.select_dtypes(include=['int64', 'float64']).columns

In [38]:
# Apply the scaler to the numerical columns
data[numerical_columns] = scaler.fit_transform(data[numerical_columns])

In [39]:
print(data.head())

        age         workclass    fnlwgt  education  education-num  \
0  0.301370         State-gov  0.044131  Bachelors       0.800000
1  0.452055  Self-emp-not-inc  0.048052  Bachelors       0.800000
2  0.287671           Private  0.137581    HS-grad       0.533333
3  0.493151           Private  0.150486       11th       0.400000
4  0.150685           Private  0.220635  Bachelors       0.800000

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country income  \
0       0.02174           0.0        0.397959  United-States  <=50K
1       0.00000           0.0        0.122449  United-States  <=50K
2       0.00000           0.0        0.397959  United-States  <=50K
3       0.00000           0.0        0.397959  United-States  <=50K
4       0.00000           0.0        0.397959           Cuba  <=50K

   income_encoded  education_level_encoded
0               0                      0.0
1               0                      0.0
2               0                      0.2
3               0                      0.4
4               0                      0.0